<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmue.congvu.drlstudent">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.StartView.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".View.LogInView.LogInActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".View.SignUpView.SignUpActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".View.ForgotPassView.ForgotPassActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".View.HomeView.HomeActivity"
            android:theme="@style/ThemeHome"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".View.UserInfoView.UserInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".View.CreateClassView.CreateClassActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".View.CreateClassView.CreateClassSecondActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".View.CurrentClassView.CurrentClassActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".View.CurrentClassDetailView.CurrentClassDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".View.ActivityClassDetailView.ActivityClassDetailActivity"
            android:screenOrientation="portrait"></activity>


    </application>

</manifest>